# ovo je komentar
# Veoma je bitno napraviti .gitignore file pre iniciranja Git-a jer ukoliko Git već započene praćenje odredjenog fajla on neće prestati da ga prati čak i ako taj neželjeni fajl naknadno ubacimo u .gitignore.  

# ignoriši sve datoteke u log folderu:
log/
# ignoriši sve tekstualne datoteke:
*.txt
# ali ne i datoteku 'users.txt':
!users.txt
# ignoriši sve css datoteke bilo gde u css folderu:
css/**/*.css
